.container-fluid{
    font-family: tahoma;
}
/* This is header section */
#header{
    background: #f1c40f;
    color: white;
}

#logo{
    font-size: 30px;
     margin: 0px;
     padding: 2px;
}

#menu{
    list-style:none;
    margin: 0px;
    padding: 0px;
    text-align: right;
}

#menu li{
    display: inline-block;
    padding: 15px 10px;
}

#menu li:hover{
    background: brown;
}
/* This is body section */
#body{
    background: rgb(29, 61, 114);
    color: white;
}

/* This is project section */


#project_heading{
    background: rgb(29, 61, 114);
    color: #fff;
    padding-bottom: 20px;
}

#project{
    background: rgb(29, 61, 114);
    padding-bottom: 20px;
}

#project .col{
    text-align: center;
    padding: 10px;
    /* justify-content: center; */
    
}



/* This is footer section */

#footer{
    padding: 30px;
    background: black;
    color: white;
    margin-top: 10px;
    
}

#flist ul{
    list-style: none;
}

#fbar{
    background: black;
    color: white;
    justify-content: center;
    margin: 0px;
    padding-top: 10px;
    font-size: 15px;

}
