.container-fluid{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: sandybrown;
}
/* This is header section */

#nav1{
    background: sandybrown;
}

#nav1 a{
    color: white;

}

#mynavbar{
    justify-content: end;
}

#nav2 a:hover{
    background: brown;

}

/* This is body section */
#body{
    background: rgb(29, 61, 114);
    color: white;
}

#myp{
    padding-left: 20px;
}

/* This is project section */


#project_heading{
    background: rgb(29, 61, 114);
    color: #fff;
    padding-bottom: 20px;
}
#project{
    background: rgb(29, 61, 114);
    padding-bottom: 20px;
}

#project .col{
    text-align: center;
    padding: 10px;
    /* justify-content: center; */
    
}



/* This is footer section */

#footer{
    padding: 30px;
    background: black;
    color: white;
    
}

#footer ul{
    list-style: none;
}

#footer ul li{
    padding-top: 8px;
}

#fbar{
    background: black;
    color: white;
    justify-content: center;
    margin: 0px;
    padding-top: 10px;
    font-size: 15px;

}

hr{
    background: yellow;
}
