.container-fluid{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: green;
}
/* This is header section */

#nav1{
    background: green;
    padding: 0px;
    margin: 0px;
}

.navbar-brand{
    color: black;
    font-size: 40px;
    padding: 0px;
    margin: 0px;
}


#mynavbar{
    justify-content: end;
}

#nav2 a{
    color: white;
}

#nav2 a:hover{
    background: brown;


}

/* This is body section */
#body{
    background: rgb(29, 61, 114);
    color: white;
}

#myp{
    padding-left: 20px;
}


/* This is project section */


#project_heading{
    background: rgb(29, 61, 114);
    color: #fff;
    padding-bottom: 20px;
}
#project{
    background: rgb(29, 61, 114);
    padding-bottom: 20px;
    align-content: center;
}

#project .col{
    text-align: center;
    padding: 40px;
    
}

#project .card{
    width: 90px;
    height: 90px;
}

#project img{
    width: 100%;
    height: 100%;
}

#project a{
    text-decoration: none;


}



/* This is footer section */

#footer{
    padding: 30px;
    background: black;
    color: white;
    
}

#footer ul{
    list-style: none;
}

#footer ul li{
    padding-top: 8px;
}

#fbar{
    background: black;
    color: white;
    justify-content: center;
    margin: 0px;
    padding-top: 10px;
    font-size: 15px;

}

hr{
    background: yellow;
}

/* This is Contact US section */

#cbody{
    background: sandybrown;
}

#c_container{
    margin-top: 200px;
}

.card h2{
    margin-top: 20px;
    text-align: center;
}

#cu{
    list-style: none;
}

#cu li{
    margin-right: 40px;
    margin-top: 40px;
}
